<section fxLayoutAlign='center center'>
<section fxLayout='row wrap' fxLayout.lt-md='column'  fxFlex.lt-sm='90%' fxFlex.lt-xl=80 fxFlex.xl=70 fxLayoutGap="20px" class="contact-page">
  <section fxFlex='1 2 calc(50%-20px)' class="contact-description">
    <h1>Atendimento e Localização</h1>
    <p>O Instituto de Previdência dos Servidores do Município de Itanhaém, o Itanhaém Prev, possui uma Central de
      Atendimento capacitada para esclarecer qualquer dúvida, receber sugestões, reclamações e acolher as opiniões dos
      participantes em relação à instituição e seus serviços.</p>
    <p>Entre em contato com a Central utilizando os canais de comunicação disponíveis:</p>
    <p>
      <span class="mat-body-2">FALE COM A GENTE !</span> <br>
      <address>

        Pelo telefone (13) 3427-7183 / (13) 3426-9426 <br>
        De segunda à sexta das <time datetime="09:00-03:00">9:00</time> às <time datetime="17:00-03:00">17:00</time>
        <br>
        Pessoalmente, na sede do Instituto <br>

        Avenida Rui Barbosa, 408 Centro<br>
        Itanhaém, SP 11740-000<br>
        Brasil
      </address>

  </section>
  <section fxFlex='1 2 calc(50%-20px)'>
    <h1 class="mat-h1">Fale conosco:</h1>
    <form action="" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite seu nome">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite seu nome">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Assunto</mat-label>
        <mat-select placeholder="Select">

                <mat-option value="Aposentadoria" selected="">Aposentadoria</mat-option> 
                
                <mat-option value="Pensão">Pensão</mat-option> 
                
                <mat-option value="Opinião">Opinião</mat-option> 
                
                <mat-option value="Sugestão">Sugestão</mat-option> 
                
                <mat-option value="Reclamação">Reclamação</mat-option> 
                
                <mat-option value="Sem assunto">Outros</mat-option> 
                
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mensagem</mat-label>
        <textarea matInput placeholder="Digite seu nome"></textarea>
      </mat-form-field>
      <section fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-flat-button color='warn' >Limpar <mat-icon>clear</mat-icon></button>
        <button mat-flat-button  color='primary'>Enviar <mat-icon>send</mat-icon></button>
      </section>

    </form>

  </section>
</section>

</section>