@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap');
.logo {
    text-transform: uppercase;
    font-family: 'Raleway', Roboto, sans-serif;
    line-height: normal;
    cursor: pointer;
    b {
        font-size: 18pt;
    }
    span{
        font-size: 9pt;
        letter-spacing: 1.4px;
        opacity: .6;
    }
}