<header [routerLink]="[ '/' ]" fxLayoutAlign="center center" @animation-logo>
    <section fxHide.lt-md class="name">Instituto de Previdência<br>dos Servidores</section>
    <!--img style="margin: 10px" class="logo" src="../../assets/logo.png"
        alt="Logo Itanhaém-PREV"-->
        <section class="name logo" fxLayout="column" fxLayoutAlign="center center">
            Itanhaém <br> PREV
        </section>
    
    <section fxHide.lt-md class="name">Públicos do Município<br>de Itanhaém</section>
</header>