<mat-toolbar color="primary" class="top-bar" fxLayoutAlign="center center">
    <section fxFlex=80 fxLayoutGap="5px">
        <a href="tel:+551334277183" mat-button>
            <mat-icon>phone</mat-icon>
            (13) 3427-7183
        </a>
        <a href="tel:+551334269426" mat-button>
            <mat-icon>phone</mat-icon>
            (13) 3426-9426
        </a>
        <span fxFlex='1 1 auto'></span>
        <button mat-icon-button><mat-icon fontSet='fas' fontIcon='fa-file-invoice-dollar'  matTooltip="Holerite On-Line"></mat-icon></button>
        <button mat-icon-button><mat-icon fontSet='fas' fontIcon='fa-receipt'   matTooltip="Extrato Previdênciário"></mat-icon></button>
        <button mat-icon-button><mat-icon fontSet='fas' fontIcon='fa-newspaper'  matTooltip="Boletim Oficial"></mat-icon></button>
    </section>
</mat-toolbar>