
<section fxLayoutGap="10px" fxFlex=80 fxLayout="column" fxFlexOffset=10>
  <br>
  <h1 class="mat-h1">Noticias</h1>
  <mat-card *ngFor="let noticia of noticias | async" [routerLink]="[ '/noticias', noticia.slug ]">
  
    <mat-card-title-group>
        <img mat-card-lg-image [src]="noticia.thumbnaill" alt="">
      <mat-card-title>{{noticia.title}}</mat-card-title>
      <mat-card-subtitle> {{noticia.createdAt | date:"shortDate"}}</mat-card-subtitle>
      <mat-card-subtitle> {{noticia.description }}</mat-card-subtitle>
    </mat-card-title-group>
  
  </mat-card>
  <br>
</section>
