<app-carousel></app-carousel>
<section fxLayout="row" fxLayoutAlign='center center'>
    <div fxFlex.lt-sm='90%' fxFlex.lt-xl=80 fxFlex.xl=70 fxLayout="column">
        <br>
        <h1>Notícias</h1>
        <section fxLayout='row wrap' fxLayoutWrap fxLayout.lt-sm='column' fxLayoutGap='10px grid' class="noticias"
            fxLayoutAlign='space-between center'>
            <div fxFlex.lt-sm=100 fxFlex.lt-md='1 2 calc(50%-10px)' fxFlex.gt-sm='1 3 calc(33%-10px)'>
                <mat-card class="noticia" fxLayout='column'>
                    <img mat-card-image src="../../../assets/news-1.jpg">

                    <mat-card-title>
                        Itanhaem-prev ultrapassa meta atuarial de 2019 em 5,85%
                    </mat-card-title>
                    <mat-card-subtitle>
                        Publicado em 10/10/2020 as 10:45 por Aurelio Tamamoto, revisado por Karine Vecci
                    </mat-card-subtitle>

                    <mat-card-content>
                        Percentual foi alcançado com esforço e excelente gestão dos membros do conselho de
                        administração,
                        representados na pessoa do presidente ronnie alexandre aleluia, em conjunto com o comitê de
                        investimentos e a diretoria executiva do itanhaémprev. abaixo gráfico demonstrativo.

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color='primary' routerLink='/noticias'>
                            LER MAIS
                        </button>
                        <span fxFlex='1 1 auto'></span>
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>share</mat-icon>
                        </button>
                    </mat-card-actions>

                </mat-card>
            </div>
            <div fxFlex.lt-sm=100 fxFlex.lt-md='1 2 calc(50%-10px)' fxFlex.gt-sm='1 3 calc(33%-10px)'>
                <mat-card class="noticia" fxLayout='column'>
                    <img mat-card-image src="../../../assets/news-1.jpg">

                    <mat-card-title>
                        Itanhaem-prev ultrapassa meta atuarial de 2019 em 5,85%
                    </mat-card-title>
                    <mat-card-subtitle>
                        Publicado em 10/10/2020 as 10:45 por Aurelio Tamamoto, revisado por Karine Vecci
                    </mat-card-subtitle>

                    <mat-card-content>
                        Percentual foi alcançado com esforço e excelente gestão dos membros do conselho de
                        administração,
                        representados na pessoa do presidente ronnie alexandre aleluia, em conjunto com o comitê de
                        investimentos e a diretoria executiva do itanhaémprev. abaixo gráfico demonstrativo.

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color='primary' routerLink='/noticias'>
                            LER MAIS
                        </button>
                        <span fxFlex='1 1 auto'></span>
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>share</mat-icon>
                        </button>
                    </mat-card-actions>

                </mat-card>
            </div>
            <div fxFlex.lt-sm=100 fxFlex.lt-md='1 2 calc(50%-10px)' fxFlex.gt-sm='1 3 calc(33%-10px)'>
                <mat-card class="noticia" fxLayout='column'>
                    <img mat-card-image src="../../../assets/news-1.jpg">

                    <mat-card-title>
                        Itanhaem-prev ultrapassa meta atuarial de 2019 em 5,85%
                    </mat-card-title>
                    <mat-card-subtitle>
                        Publicado em 10/10/2020 as 10:45 por Aurelio Tamamoto, revisado por Karine Vecci
                    </mat-card-subtitle>

                    <mat-card-content>
                        Percentual foi alcançado com esforço e excelente gestão dos membros do conselho de
                        administração,
                        representados na pessoa do presidente ronnie alexandre aleluia, em conjunto com o comitê de
                        investimentos e a diretoria executiva do itanhaémprev. abaixo gráfico demonstrativo.

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color='primary' routerLink='/noticias'>
                            LER MAIS
                        </button>
                        <span fxFlex='1 1 auto'></span>
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>share</mat-icon>
                        </button>
                    </mat-card-actions>

                </mat-card>
            </div>
            <div fxFlex.lt-sm=100 fxFlex.lt-md='1 2 calc(50%-10px)' fxFlex.gt-sm='1 3 calc(33%-10px)'>
                <mat-card class="noticia" fxLayout='column'>
                    <img mat-card-image src="../../../assets/news-1.jpg">

                    <mat-card-title>
                        Itanhaem-prev ultrapassa meta atuarial de 2019 em 5,85%
                    </mat-card-title>
                    <mat-card-subtitle>
                        Publicado em 10/10/2020 as 10:45 por Aurelio Tamamoto, revisado por Karine Vecci
                    </mat-card-subtitle>

                    <mat-card-content>
                        Percentual foi alcançado com esforço e excelente gestão dos membros do conselho de
                        administração,
                        representados na pessoa do presidente ronnie alexandre aleluia, em conjunto com o comitê de
                        investimentos e a diretoria executiva do itanhaémprev. abaixo gráfico demonstrativo.

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color='primary' routerLink='/noticias'>
                            LER MAIS
                        </button>
                        <span fxFlex='1 1 auto'></span>
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>share</mat-icon>
                        </button>
                    </mat-card-actions>

                </mat-card>
            </div>
            <div fxFlex.lt-sm=100 fxFlex.lt-md='1 2 calc(50%-10px)' fxFlex.gt-sm='1 3 calc(33%-10px)'>
                <mat-card class="noticia" fxLayout='column'>
                    <img mat-card-image src="../../../assets/news-1.jpg">

                    <mat-card-title>
                        Itanhaem-prev ultrapassa meta atuarial de 2019 em 5,85%
                    </mat-card-title>
                    <mat-card-subtitle>
                        Publicado em 10/10/2020 as 10:45 por Aurelio Tamamoto, revisado por Karine Vecci
                    </mat-card-subtitle>

                    <mat-card-content>
                        Percentual foi alcançado com esforço e excelente gestão dos membros do conselho de
                        administração,
                        representados na pessoa do presidente ronnie alexandre aleluia, em conjunto com o comitê de
                        investimentos e a diretoria executiva do itanhaémprev. abaixo gráfico demonstrativo.

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color='primary' routerLink='/noticias'>
                            LER MAIS
                        </button>
                        <span fxFlex='1 1 auto'></span>
                        <button mat-icon-button>
                            <mat-icon>favorite_border</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>share</mat-icon>
                        </button>
                    </mat-card-actions>

                </mat-card>
            </div>
        </section>
        <br>
        <h1>Duvidas Frequentes</h1>
        <section>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        O que é Regime Próprio de Previdência Social?
                    </mat-expansion-panel-header>
                    R: Regime Próprio de Previdência Social é um sistema de previdência, estabelecido no âmbito
                    de
                    cada ente federativo, que assegure, por lei, a todos os servidores titulares de cargo
                    efetivo,
                    pelo menos os benefícios de aposentadoria e pensão por morte previstos no artigo 40 da
                    Constituição Federal. São intitulados de Regimes Próprios porque cada ente público da
                    Federação
                    (União, Estados, Distrito Federal e Municípios) pode ter o seu, cuja finalidade é organizar
                    a
                    previdência dos servidores públicos titulares de cargo efetivo, tanto daqueles em atividade,
                    como daqueles já aposentados e também dos pensionistas, cujos benefícios estejam sendo pagos
                    pelo ente estatal. Desta forma, de um lado, temos o Regime Geral de Previdência Social –
                    RGPS,
                    cuja gestão é efetuada pelo INSS, que vincula obrigatoriamente todos os trabalhadores do
                    setor
                    privado e também os servidores públicos não vinculados a regimes próprios de previdência
                    social
                    e, por outro lado, temos vários regimes próprios de previdência social cujas gestões são
                    efetuadas, distintamente, pelos próprios entes públicos instituidores. As normas básicas dos
                    regimes próprios estão previstas no artigo 40 da Constituição Federal, na Lei 9.717/98 e nas
                    Portarias do Ministério da Previdência Social n°s 402/2008 (diretrizes gerais) e 403 (normas
                    de
                    atuária). Veja aqui Modelo de Projeto de Lei para Regimes Próprios (PDF).
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        O que é um Regime Próprio em Extinção?
                    </mat-expansion-panel-header>
                    R: Considera-se em extinção o RPPS do ente federativo que não mais assegure a todos os
                    servidores titulares de cargo efetivo os benefícios de aposentadoria e pensão por morte, mas
                    ainda mantém a responsabilidade pela concessão e manutenção de benefícios previdenciários.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        O que é cargo efetivo?
                    </mat-expansion-panel-header>
                    R: Trata-se do conjunto de atribuições, deveres e responsabilidades específicas definidas em
                    estatutos dos entes federativos cometidas a um servidor aprovado por meio de concurso
                    público de
                    provas ou de provas e títulos. Portanto, servidor público titular de cargo efetivo é aquele
                    investido em cargo público, mediante prévia aprovação em concurso público, submetido ao
                    regime
                    estatutário.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        O que é Regime Próprio de Previdência Social?
                    </mat-expansion-panel-header>
                    R: Regime Próprio de Previdência Social é um sistema de previdência, estabelecido no âmbito
                    de
                    cada ente federativo, que assegure, por lei, a todos os servidores titulares de cargo
                    efetivo,
                    pelo menos os benefícios de aposentadoria e pensão por morte previstos no artigo 40 da
                    Constituição Federal. São intitulados de Regimes Próprios porque cada ente público da
                    Federação
                    (União, Estados, Distrito Federal e Municípios) pode ter o seu, cuja finalidade é organizar
                    a
                    previdência dos servidores públicos titulares de cargo efetivo, tanto daqueles em atividade,
                    como daqueles já aposentados e também dos pensionistas, cujos benefícios estejam sendo pagos
                    pelo ente estatal. Desta forma, de um lado, temos o Regime Geral de Previdência Social –
                    RGPS,
                    cuja gestão é efetuada pelo INSS, que vincula obrigatoriamente todos os trabalhadores do
                    setor
                    privado e também os servidores públicos não vinculados a regimes próprios de previdência
                    social
                    e, por outro lado, temos vários regimes próprios de previdência social cujas gestões são
                    efetuadas, distintamente, pelos próprios entes públicos instituidores. As normas básicas dos
                    regimes próprios estão previstas no artigo 40 da Constituição Federal, na Lei 9.717/98 e nas
                    Portarias do Ministério da Previdência Social n°s 402/2008 (diretrizes gerais) e 403 (normas
                    de
                    atuária). Veja aqui Modelo de Projeto de Lei para Regimes Próprios (PDF).
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        O que é um Regime Próprio em Extinção?
                    </mat-expansion-panel-header>
                    R: Considera-se em extinção o RPPS do ente federativo que não mais assegure a todos os
                    servidores titulares de cargo efetivo os benefícios de aposentadoria e pensão por morte, mas
                    ainda mantém a responsabilidade pela concessão e manutenção de benefícios previdenciários.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        O que é cargo efetivo?
                    </mat-expansion-panel-header>
                    R: Trata-se do conjunto de atribuições, deveres e responsabilidades específicas definidas em
                    estatutos dos entes federativos cometidas a um servidor aprovado por meio de concurso
                    público de
                    provas ou de provas e títulos. Portanto, servidor público titular de cargo efetivo é aquele
                    investido em cargo público, mediante prévia aprovação em concurso público, submetido ao
                    regime
                    estatutário.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        O que é cargo efetivo?
                    </mat-expansion-panel-header>
                    R: Trata-se do conjunto de atribuições, deveres e responsabilidades específicas definidas em
                    estatutos dos entes federativos cometidas a um servidor aprovado por meio de concurso
                    público de
                    provas ou de provas e títulos. Portanto, servidor público titular de cargo efetivo é aquele
                    investido em cargo público, mediante prévia aprovação em concurso público, submetido ao
                    regime
                    estatutário.
                </mat-expansion-panel>
            </mat-accordion>
        </section>
        <br>
        <h1>Contribuinte</h1>
        <section fxLayout="row wrap" fxLayoutAlign="start start">
            <button mat-button class="services-button" fxLayout="column" fxLayoutAlign="space-around center"
                fxFlex='0 3 calc(33%-10px)' fxFlex.lt-sm=100>
                <mat-icon color='primary'>receipt</mat-icon>
                <p>Holerite On-line</p>

            </button>
            <button mat-button class="services-button" fxLayout="column" fxLayoutAlign="space-around center"
                fxFlex='0 3 calc(33%-10px)' fxFlex.lt-sm=100>
                <mat-icon color='primary'>receipt_long</mat-icon>
                <p>Extrato Previdênciário</p>
            </button>
            <button mat-button class="services-button" fxLayout="column" fxLayoutAlign="space-around center"
                fxFlex='0 3 calc(33%-10px)' fxFlex.lt-sm=100>
                <mat-icon color='primary'>description</mat-icon>
                <p>Editais</p>
            </button>
            <button mat-button class="services-button leis" fxLayout="column" fxLayoutAlign="space-around center"
                fxFlex='0 3 calc(33%-10px)' fxFlex.lt-sm=100>
                <mat-icon color='primary'>gavel</mat-icon>
                <p>Leis</p>
            </button>
            <button mat-button class="services-button duvidas" fxLayout="column" fxLayoutAlign="space-around center"
                fxFlex='0 3 calc(33%-10px)' fxFlex.lt-sm=100>
                <mat-icon color='primary'>contact_support</mat-icon>
                <p>Duvidas Frequentes</p>
            </button>
            <button mat-button class="services-button boletim" fxLayout="column" fxLayoutAlign="space-around center"
                fxFlex='0 3 calc(33%-10px)' fxFlex.lt-sm=100>
                <mat-icon color='primary'>fact_check</mat-icon>
                <p>Boletim Oficial</p>
            </button>
        </section>
        <br>
        <h1>Transparência</h1>
        <section fxLayout='row wrap'  fxLayoutAlign='start start' fxLayoutGap='10px grid'>
            <div fxFlex='1 2 calc(50%-10px)' fxFlex.lt-sm=100>
                <button mat-flat-button color='primary' fxFlex class="services-button" fxLayout="column"
                    fxLayoutAlign="space-around center">
                    <mat-icon>history_edu</mat-icon>
                    <p>Contratos</p>
                </button>
            </div>
            <div fxFlex='1 2 calc(50%-10px)' fxFlex.lt-sm=100>
                <button mat-flat-button color='primary' class="services-button" fxLayout="column"
                    fxLayoutAlign="space-around center" fxFlex>
                    <mat-icon> trending_up</mat-icon>
                    <p>Investimentos</p>
                </button>
            </div>
            <div fxFlex='1 2 calc(50%-10px)' fxFlex.lt-sm=100>
                <button mat-flat-button color='primary' class="services-button" fxLayout="column"
                    fxLayoutAlign="space-around center" fxFlex>
                    <mat-icon>timeline</mat-icon>
                    <p>Evolução Patrimonial</p>
                </button>
            </div>
            <div fxFlex='1 2 calc(50%-10px)' fxFlex.lt-sm=100>
                <button mat-flat-button color='primary' class="services-button" fxLayout="column"
                    fxLayoutAlign="space-around center" fxFlex>
                    <mat-icon>analytics</mat-icon>
                    <p>Balanço Financeiro</p>
                </button>
            </div>
        </section>
    </div>
</section>
<br>