<footer class="mat-toolbar mat-primary">
  <section fxFlex=80 fxLayout="row wrap"  fxFlexOffset=10>
    <section fxFlexOrder=3 fxFlex='0 3 calc(33%-10px)' fxFlex.lt-md=100>
      <p class="mat-title">
        Fale com a gente:
      </p>
      <p class="mat-body-2">
        De segunda à sexta das <time datetime="09:00-03:00">9:00</time> às <time
          datetime="17:00-03:00">17:00</time>
        
      </p>
       <p><a class="mat-display-1" href="tel:+551334277183">(13) 3427-7183</a></p>
       <p><a class="mat-display-1" href="tel:+551334269426">(13) 3426-9426</a></p>
        
      
    </section>
    <section fxFlexOrder=2 class="services" fxFlex='0 3 calc(33%-10px)' fxFlex.lt-md=100 fxLayout="column" fxLayoutAlign="start start">
      <p class="mat-title">
        Serviços:
      </p>
        <button mat-button>
            <mat-icon fontSet='fas' fontIcon='fa-file-invoice-dollar'></mat-icon>
             Holerite On-line
        </button>
        <button mat-button>
            <mat-icon fontSet='fas' fontIcon='fa-receipt' ></mat-icon>
             Extrato Previdênciário
        </button>
        <button mat-button>
            <mat-icon fontSet='fas' fontIcon='fa-file-alt' ></mat-icon>
             Editais
        </button>
        <button mat-button>
             <mat-icon fontSet='fas' fontIcon='fa-file-signature' ></mat-icon>
             Leis
        </button>
        
        
    </section>
    <section fxFlexOrder=1 fxFlex='0 3 calc(33%-10px)' fxFlex.lt-md=100>
      <p class="mat-title">Localizado em:</p>
      <address class="mat-body">
        Avenida Rui Barbosa, 408 Centro<br>
        Itanhaém, SP 11740-000<br>
        Brasil
      </address>
    </section>
  </section>
</footer>