address a, p a{
    text-decoration: none;
    color: white;
}
.services {
    .fa, .fab, .fal, .far, .fas{
        font-size: 24px;
        text-align: center;
      }
}
footer {
    padding: 20px 0;
}