<section fxFlex=80 fxFlexOffset=10 class="content">
  <section fxLayout="column">
    <h1 class="mat-h1">Diretoria Executiva e Divisões</h1>
    <h2 class="mat-subheading-2">Diretoria Executiva:</h2>
    <section fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-card fxFlex=300px>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="card-header-custom">
          <mat-card-title>Luciano Moura dos Santos</mat-card-title>
          <mat-card-subtitle>Superintendente</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card fxFlex=300px>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="card-header-custom">
          <mat-card-title>Luiz Fernando Cantinho Silva</mat-card-title>
          <mat-card-subtitle>Diretor Administrativo Financeiro</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card fxFlex=300px>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header class="card-header-custom">
          <mat-card-title>Karine Vecci</mat-card-title>
          <mat-card-subtitle>Diretora de Benefícios</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </section>
    <br>
    <h2 class="mat-subheading-2">Divisões:</h2>
    <section fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-card fxFlex=300px>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-header class="card-header-custom">
            <mat-card-title>Adriana Cristina de Moraes</mat-card-title>
            <mat-card-subtitle>Chefe da Divisão Administrativa</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card fxFlex=300px>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-header class="card-header-custom">
            <mat-card-title>Sara Leandro Farias da Cunha</mat-card-title>
            <mat-card-subtitle>Chefe da Divisão de Benefícios</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div fxFlex=300px></div>
      </section>

  </section>
</section>